{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WanJarwer - informate de tu hardware</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style.css' %}">
</head>
<header>

        <img src="{% static 'img/fondoo.jpg' %}" class="ajusteheader">
</header>
<body>
  
        <!-- Menu -->
        <nav class="navbar bg-primary navbar-expand-lg navbar-dark bg-dark sticky-top" >

            <!-- Boton que aparece cuando la pantalla es muy chica -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Fin Boton que aparece cuando la pantalla es muy chica -->
           
                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" width="200" height="45" class="d-inline-block align-top" alt="">
                    
                </a>
                <!-- Fin logo -->

                    <!-- Menu fijo -->
                      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav text">
                            <li class="nav-item">
                              <a class="nav-link active" href="{% url 'proc' %}">PROCESADORES</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link bg-dark" href="{% url 'graf' %}">TARJETAS DE VIDEO</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link bg-dark" href="{% url 'ram' %}">RAM</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link bg-dark" href="{% url 'gab' %}">GABINETES</a>
                            </li>
                        </ul>
                      </div>
                      <!-- Boton login y register -->
                        <div style="will-change: transform; top: 0px; left: 0px; transform: translate3d(-95px, 0px, 0px);"> 
                            <form class="form-inline">
                              <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Buscar...">
                              <div class="input-group-appened" style="transform: translate3d(-15px, 0px, 0px);">
                                <button href="#" class="btn btn-light" type="submit"><i class="fas fa-search"><img src="{% static 'img/buscar.png' %}" height=20px width=20px></i></button>
                              </div>
                            </form>
                        </div>
                          <!-- Boton login y register -->
                          <ul class="navbar-nav text-sr" style="will-change: transform; top: 0px; left: 0px; transform: translate3d(-80px, 0px, 0px);">
                              <li class="nav-item dropdown show text-sr">
                                  <a class="nav-link dropdown-toggle text-sr" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <img src="{% static 'img/user-login.png' %}" height=20px width=20px>
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="will-change: transform; top: 0px; left: 0px; transform: translate3d(-95px, 44px, 0px);">
                                      {% if user.is_authenticated %}
                                        <a class="dropdown-item" href="#">Usuario: "{{user.username}}"</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a>
                                      {% else %}
                                        <a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a>
                                        <a class="dropdown-item" href="{% url 'registro_usuario' %}">Registrate</a>
                                      {% endif %} 
                                  </div>
                              </li>
                          </ul>
                <!-- fin Boton login y register -->
                    <!-- Menu fijo-->
        </nav>
        <!-- fin menu -->
        

    <!-- TABLA DE LISTADO -->
    <section>     
            <li class="title1">Listado de Procesadores</li>  
                <div class="container">
                        <div class="row">
                          <div class="col-12">
                              <table class="table border">   
                                <thead class="thead-light">
                                  <tr>
                                    <th scope="row">Marca</th>
                                    <th scope="row">Nombre Procesador</th>
                                    <th scope="row">Nucleos</th>
                                    <th scope="row">Hilos</th>
                                    <th scope="row">Frecuencia Min</th>
                                    <th scope="row">Frecuencia Max</th>
                                    <th scope="row">Acción</th>    
                                  </tr>
                                </thead>
                                {% for a in proc %}
                                <tbody>     
                                  <tr>
                                        <td>{{ a.proce }}</td>
                                        <td>{{ a.proceN }}</td>
                                        <td>{{ a.core }}</td>
                                        <td>{{ a.threads }}</td>
                                        <td>{{ a.frecMini }}</td>
                                        <td>{{ a.frecMax }}</td>
                                        <td>
                                        <!-- BOTON MODIFICAR MESSAGE -->
                                        <a href="{% url 'modificar_proce' a.id %}" role="button" class="btn btn-primary badge-pill" value="Modificar">Modificar</a>
                                        <!-- Modal -->
                                        <!-- BOTON ELIMINAR MESSAGE -->
                                        <button role="button" class="btn btn-danger badge-pill" data-toggle="modal" data-target="#myModal">Eliminar</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" role="dialog">
                                          <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                             <div class="modal-header">
                                                <h2 class="modal-title">Eliminar</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                             </div>
                                              <div class="modal-body">
                                                <p>¿Eliminar Permanentemente?</p>
                                              </div>
                                              <div class="modal-footer">
                                                <a href="{% url 'eliminar_proce' a.id %}" role="button" class="btn btn-danger" value="Eliminar">Si</a>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>   
                          </div>
                        </div>
                      </div>
        </section>
        <section>
        <center>
                {% if messages %}

                {% for m in messages %}
    
                    <div>{{ m }}</div>
    
                {% endfor %}
    
            {% endif %}
        </center>
        </section>
        
        <section></section>
        <section></section>
        
        
        

</body>
</html>
