body{
  font-family: 'Raleway', sans-serif;
}
.recorteimagencircular{
	margin-top: -50px;
	border: 2px solid #ddd;
}

.ajusteheader{
	width: 100%
}
.title1{
	border-bottom: 3px solid transparent;
  display: block;
  color: black;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
.resaltado{
  color: #d35400;
}

.text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15.5px;
  color: #d35400;
}

.text-sr {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

#navbar {
  min-height: 60px;

}

table, th, td {
  border: 1px solid black;
}

.color-body{
  background-color: aliceblue;
}

/*------------------------------------------------------*/

.mb-2, .my-2 {
  margin-bottom: 0.5rem !important;
}

.mt-2, .my-2 {
  margin-top: 0.5rem !important;
}
.justify-content-center {
  justify-content: center !important;
}
.flex-row {
  flex-direction: row !important;
}
.d-flex {
  display: flex !important;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}